body {
  margin: 0%;
}

#wrapper {
  display: inline-flex;
}

#calendarContainer{
  background: white;
  margin: 1px;
}

#nav {
  display: none;
}

#agendamento {
  width: 100vw;
  height: 100vh;
  background-color: green;
}

#execucao {
  width: 100vw;
  height: 100vh;
  background-color: blue;
}

#minhaConta {
  width: 100vw;
  height: 100vh;
  background-color: yellow;
}

#ajuda {
  width: 100vw;
  height: 100vh;
  background-color: red;
}
